.bodyy{
    overflow: hidden;
    width: 100vw;
}

.panda {
  background: url("/panda_colour.png");
  width: 250px;
  height: 330px;
  animation: walk 1s steps(12) infinite, 
  forward 5s linear infinite;
}

@keyframes walk {
  0% {
    background-position: 0px;
  }
    100% {
        background-position: 3000px;
    }
}

@keyframes forward {
    0% {
        transform: translateX(0vw);
    }
    100% {
        transform: translateX(99vw);
    }
    
}